.main {
    flex: 1;
    display: flex;
}

.container{
    flex: 1;
    display: flex;
    gap: 10px
}

.section__left{
    border-right: 1px solid var(--color-product-list-border);
    flex-basis: 640px;
}

.section__right{
    flex-basis: calc(100% - 640px);
}
